$my-glassBgColor: rgba(255, 255, 255, 0.7);
$my-glassBdFilter: blur(3px);
$white: rgb(255, 255, 255);
@function blackOp($op){
  @return rgba(0,0,0,$op);
}

.my-glass{
  background-color: $my-glassBgColor;
  backdrop-filter: $my-glassBdFilter;
}

.my-title{
  color: $white;
  font-size: 45px;
  font-weight: 600;
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.my-subtitle{
  color: $white;
  font-size: 30px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  opacity: 0.8;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.my-wiggle{
  @keyframes my-wiggle {
    3% {transform: rotate(20deg)}
    6% {transform: rotate(-20deg);}
    9% {transform: rotate(20deg);}
    12% {transform: rotate(0);}
  }
  animation-iteration-count: infinite;
}

.my-jump{
  @keyframes my-jump {
    3% {transform: translate(0px,-5px)}
    6% {transform: translate(0px,5px)}
    9% {transform: translate(0px,-5px)}
    12% {transform: translate(0px,5px)}
    15% {transform: translate(0px,-5px)}
    18% {transform: translate(0px,5px)}
    21% {transform: translate(0px,0px)}
  }
  animation-iteration-count: infinite;
}

.my-spin{
  @keyframes my-spin {
    5% {transform: rotate3d(0,1,0,0deg)}
    10% {transform: rotate3d(0,1,0,180deg)}
    15% {transform: rotate3d(0,1,0,0deg)}
  }
  animation-iteration-count: infinite;
}

.my-movingSpin{
  @keyframes my-movingSpin {
    0% {
      transform: translate(0px,0px) rotate(90deg) rotate3d(0,1,0,0deg);
    }
    10% {
      transform: translate(100px,0px) rotate(90deg) rotate3d(0,1,0,360deg);
    }
    50% {
      transform: translate(100px,0px) rotate(-90deg) rotate3d(0,1,0,360deg);
    }
    60% {
      transform: translate(0px,0px)  rotate(-90deg) rotate3d(0,1,0,0deg);
    }
    100% {
      transform: translate(0px,0px) rotate(90deg) rotate3d(0,1,0,0deg);
    }
  }
  animation-iteration-count: infinite;
}

.my-initialUnfade{
  @keyframes my-initialUnfade {
    0% {
      opacity: 0;
      background-color: blackOp(0);
      backdrop-filter: blur(0px);
    }
    50% {
      opacity: 0;
      background-color: blackOp(0.1);
      backdrop-filter: blur(0px);
    }
    100% {
      opacity: 1;
      background-color: blackOp(0.3);
      backdrop-filter: blur(5px);
    }
  }
  position: relative;
  height: 100%;
  animation: my-initialUnfade 4s linear;
  animation-fill-mode: forwards;
}

.my-initialUnfadeFinal{
  opacity: 1;
  background-color: blackOp(0.3);
  backdrop-filter: blur(5px);
  position: relative;
  height: 100%;
}

.my-initialGrow{
  @keyframes my-initialGrow {
    0%{
      transform: scale(0.8);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  animation: my-initialGrow 5s linear;
  animation-fill-mode: forwards;
}

.my-initialGrowFinal{
  transform: scale(1);
}

@keyframes my-move {
  0% { offset-distance: 0;}
  100% { offset-distance: 100%;}
}
