*{
  font-family: sans-serif;
}

@keyframes initialUnfade {
  0% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }
  50% {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
  }
  100% {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(5px);
  }
}

@keyframes initialGrow {
  0%{
    transform: scale(0.8);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.wiggle{
  @keyframes wiggle {
    3% {transform: rotate(20deg)}
    6% {transform: rotate(-20deg);}
    9% {transform: rotate(20deg);}
    12% {transform: rotate(0);}
  }
  animation-iteration-count: infinite;
}

.jump{
  @keyframes jump {
    3% {transform: translate(0px,-5px)}
    6% {transform: translate(0px,5px)}
    9% {transform: translate(0px,-5px)}
    12% {transform: translate(0px,5px)}
    15% {transform: translate(0px,-5px)}
    18% {transform: translate(0px,5px)}
    21% {transform: translate(0px,0px)}
  }
  animation-iteration-count: infinite;
}

.spin{
  @keyframes spin {
    5% {transform: rotate3d(0,1,0,0deg)}
    10% {transform: rotate3d(0,1,0,180deg)}
    15% {transform: rotate3d(0,1,0,0deg)}
  }
  animation-iteration-count: infinite;
}

.movingSpin{
  @keyframes movingSpin {
    0% {
      transform: translate(0px,0px) rotate3d(0,1,0,0deg);
    }
    10% {
      transform: translate(100px,0px) rotate3d(0,1,0,360deg);
    }
    50% {
      transform: translate(100px,0px) rotate3d(0,1,0,360deg);
    }
    60% {
      transform: translate(0px,0px) rotate3d(0,1,0,0deg);
    }
  }
  animation-iteration-count: infinite;
}

.initialUnfade{
  position: relative;
  height: 100%;
  animation: initialUnfade 4s linear;
  animation-fill-mode: forwards;
}

.hero{
  @extend .initialUnfade;
  padding: 100px 50px 150px;
  text-align: center;
  color: white;
}

#exploreSectCont{
  padding: 50px 50px;
  color: white;
  background-color: azure;
  .title, .subtitle{
    color: black;
  }
}

.initialGrow{
  animation: size 5s linear;
  animation-fill-mode: forwards;
}

.title{
  @extend .initialGrow;
  color: rgb(255, 255, 255);
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 6px;
  padding: 10px 0;
  margin: 0;
}

.subtitle{
  @extend .initialGrow;
  color: rgba(255, 255, 255, 0.795);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.exploreSect{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  position: relative;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

.exploreSectTextCont{
  flex: 2 1 1;
  height: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .subtitle{
    margin-top: -10px;
    margin-bottom: 30px;
  }
  p{ 
    margin: 0;
  }
  margin-right: 20px;
}

.exploreSecImgCont{
  flex: 1 2 2;
  height: 250px;
  max-height: 250px;
  position: relative;
}

.exploreSecImg{
  height: 100%;
  margin-left: auto;
  display: block;
  border-radius: 5px;
}

.exploreBtnCont{
  margin-top: auto;
}

.exploreBtn{
  @extend .jump;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-duration: 10s;
  animation-name: jump;
  animation-iteration-count: infinite;
  height: 40px;
  width: 100px;
  margin-top: 15px;
  font-weight: 600;
}

/*
  animation-timing-function: linear,ease-out,linear;
  animation-delay: 8s,4s,6s;
  animation-duration: 10s;
  animation-name: wiggle, jump, spin;
  animation-iteration-count: infinite;
*/

.insect{
  z-index: 0;
  opacity: 1;
  opacity: 0.5;
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  position: absolute;
  width: 50px;
  animation-iteration-count: infinite;
}

.insectWiggle{
  @extend .wiggle;
  @extend .insect;
  animation-timing-function: linear;
  animation-delay: 10s;
  animation-duration: 10s;
  animation-name: wiggle;
  top: 10px;
  right: 40%;
}

.insectMoving{
  @extend .movingSpin;
  @extend .insect;
  animation-timing-function: linear;
  animation-delay: 15s;
  animation-duration: 8s;
  animation-name: movingSpin;
  bottom: 20px;
  right: 650px;
}