*{
  font-family: sans-serif;
}

@import '../specialStyles/styles';

.hero{
  @extend .my-initialUnfade;
  padding: 100px 50px 150px;
  text-align: center;
  color: white;
}

#exploreSectCont{
  padding: 50px 50px;
  color: white;
  background-color: azure;
  .title, .subtitle{
    color: black;
  }
}

.grow{
  @extend .my-initialGrow;
}

.title{
  @extend .my-title;
}

.subtitle{
  @extend .my-subtitle;
}

.exploreSect{
  display: flex;
  justify-content: space-between;
  height: fit-content;
  position: relative;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 1;
}

.exploreSectTextCont{
  flex: 2 1 1;
  height: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  .subtitle{
    margin-top: -10px;
    margin-bottom: 30px;
  }
  p{ 
    margin: 0;
  }
  margin-right: 20px;
}

.exploreSecImgCont{
  flex: 1 2 2;
  height: 250px;
  max-height: 250px;
  position: relative;
}

.exploreSecImg{
  height: 100%;
  margin-left: auto;
  display: block;
  border-radius: 5px;
}

.exploreBtnCont{
  margin-top: auto;
}

.exploreBtn{
  @extend .my-jump;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-duration: 10s;
  animation-name: my-jump;
  animation-iteration-count: infinite;
  height: 40px;
  width: 100px;
  margin-top: 15px;
  font-weight: 600;
}

.insect{
  z-index: 0;
  opacity: 1;
  opacity: 0.3;
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  position: absolute;
  width: 50px;
  animation-iteration-count: infinite;
}

/*
.insectWiggle{
  @extend .my-wiggle;
  @extend .insect;
  animation: my-wiggle 10s linear 10s infinite;
  top: 10px;
  right: 600px;
}
*/

.insectMovingContainer{
  position: absolute;
  width: calc(100vw + 100px);
  height: 100%;
  margin: 0px -50px;
  top: 0;
  left: 0;
  z-index: 0;
}

.insectMoving{
  @extend .insect;
  @extend .my-spin;
  animation: my-move 10s linear 5s infinite, my-spin 4s linear infinite;
  offset-rotate: auto 90deg;
  //animation: my-movingSpin 8s linear 15s infinite;
}