*{
  font-family: sans-serif;
}

@import '../specialStyles/styles';
$greenNatural: #a8fab3;

.hero{
  @extend .my-initialUnfade;
  padding: 100px 50px 170px;
  text-align: center;
  color: white;
}

.sectCont{
  padding: 70px 50px;
  .title, .subtitle{
    color: black;
  }
}

#exploreSectCont{
  
}

.grow{
  @extend .my-initialGrow;
}

.subtitle{
  @extend .my-subtitle;
}

.title{
  @extend .my-title;
}

.sect{
  height: fit-content;
  position: relative;
  color: black;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  z-index: 1;
}

.exploreSect{
  display: flex;
  justify-content: space-between;
}

.exploreSectTextCont{
  flex: 2 1 1;
  height: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .title, .subtitle{
    margin-top: -10px;
    margin-bottom: 30px;
  }
  p{ 
    margin: 0;
  }
  margin-right: 20px;
}

.exploreSecImgCont{
  flex: 1 2 2;
  height: 250px;
  max-height: 250px;
  position: relative;
}

.exploreSecImg{
  height: 100%;
  margin-left: auto;
  display: block;
  border-radius: 5px;
}

.exploreBtnCont{
  margin-top: auto;
}

.exploreBtn{
  @extend .my-jump;
  animation-timing-function: linear;
  animation-delay: 6s;
  animation-duration: 10s;
  animation-name: my-jump;
  animation-iteration-count: infinite;
  height: 40px;
  width: 100px;
  margin-top: 15px;
  font-weight: 600;
}

.primaryBtn{
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}