@import '../specialStyles/styles';

#resumeSectCont{

}

.resumeSect{
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.resumeSectTextCont{
  color: black;
  .title, .subtitle{
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
    span{
      font-weight: bold;
    }
  }
}

.resumeItemsCont{
  padding: 20px 0 20px;
  height: 100%;
  position: relative;
  width: fit-content; 
  margin: auto auto;
}

.resumeBtnCont{
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.resumeBtn{
  height: 40px;
  font-weight: 600;
}

.resumeBtn + .resumeBtn{
  margin-left: 10px;
  width: 100px;
}

.speciesGrid{
  display: grid;
  grid-template-columns: repeat(3, auto); 
  justify-items: center; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.spinDiv{
  @extend .my-glass;
  z-index: 10;
  height: 100%;
  width: 100%;
  top:0;
  left:0;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  align-content: center;
  padding-top: 100px;
  .spinCont{
    position: sticky;
    top: 100px;
  }
}