$gap: 20px;
@import './specialStyles/styles';

.SourceCode{
  @extend .my-wiggle;
  @extend .my-jump;
  @extend .my-spin;

  animation-timing-function: linear,ease-out,linear;
  animation-delay: 8s,4s,6s;
  animation-duration: 10s;
  animation-name: my-wiggle, my-jump, my-spin;
  animation-iteration-count: infinite;
  
  z-index: 9999;
  position: fixed;
  bottom: $gap;
  right: $gap;
  border-radius: 9999px;
  background-color: white;
  box-shadow: 0 1px 3px 3px white;
}