$colW: 350px;
$colSize: minmax($colW,25%);
$gap: 20px;
$contNormalW: 1200px;
$contSmallW: 768px;
$contExtraSmallW: 480px;

div.speciesCont{
  display: grid;
  grid-template-columns: $colSize $colSize $colSize;
  gap: $gap $gap;
  margin: 100px $gap;
  justify-content: center;
  @media screen and (max-width: $contNormalW){
    width: calc( 100vw - 40px );
    grid-template-columns: minmax($colW,40%) minmax($colW,40%);
  }
  @media screen and (max-width: $contSmallW){
    grid-template-columns: minmax($colW,90%);
  }
  @media screen and(max-width: $contExtraSmallW){
    grid-template-columns: minmax(250px,90%);
  }
}