$colW: 150px;
$colSize: minmax($colW,25%);
$gap: 20px;
$contNormalW: 1200px;
$contSmallW: 768px;
$contExtraSmallW: 480px;
$pad : 10px;

.speciesCont{
  padding: $pad;
  justify-content: center;
  @media screen and (max-width: $contNormalW){
    width: calc( 100vw - 40px );
  }
  @media screen and (max-width: $contSmallW){
  }
  @media screen and(max-width: $contExtraSmallW){
  }
}