$borderR : 10px;
$colW: 150px;
$colSize: minmax($colW,25%);
$gap: 20px;
$contNormalW: 1200px;
$contSmallW: 768px;
$contExtraSmallW: 480px;
$pad : 10px;

@import '../specialStyles/styles';

.speciesCont{
  padding: $pad;
  justify-content: center;
  @media screen and (max-width: $contNormalW){
    width: calc( 100vw - 40px );
  }
  @media screen and (max-width: $contSmallW){
  }
  @media screen and(max-width: $contExtraSmallW){
  }
}

.pagCont{
  @extend .my-glass;
  padding: $pad;
  width: fit-content;
  margin: $gap auto 0px;
  border-radius: $borderR;
}

.spinDiv{
  @extend .my-glass;
  z-index: 10;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  align-content: center;
  padding-top: 100px;
  .spinCont{
    position: sticky;
    top: 100px;
  }
}
