*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  max-width: 100vw;
}

body{
  overflow-x: hidden;
}

.header{
  position: sticky;
  top: 0px;
  width: 100%;
  z-index:99;
  border-bottom: solid 1px white
}